{{#if error}}
  <div class="alert danger-alert" style="
    width: 500px;">
  <h5>{{error}} Credenciales incorrectas</h5>
  <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >&times;</button>
</div>
{{/if}}

{{#each errors}}
<div class="alert danger-alert">
 <h3>{{text}}</h3>
  <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >&times;</button>
</div>
{{/each}}