
<header class="site-header">
			<div class="top-header">
				<div class="container">

				</div> <!-- .contenedor del titulo y el logo -->
			</div> <!-- termina el encabeado que contiene el fondo -->


			<div class="breadcrumbs">
                <div class="container">
                    <a href="index.hbs">Bienvenid@</a>
                    <span>Iniciar sesión</span>
                </div>
            </div>

		</header> <!-- fin parate inicial hasta la barra de navegación -->